/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "ipq9574.dtsi"

/ {
	model = "TP-Link Deco BE85 v1";
	compatible = "tplink,deco-be85-v1", "qcom,ipq9574";

	aliases {
		serial0 = &blsp1_uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&gpio_keys_default>;
		pinctrl-names = "default";

		button-reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&tlmm 45 GPIO_ACTIVE_LOW>;
		};
	};

	regulator_fixed_3p3: s3300 {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		regulator-name = "fixed_3p3";
	};

	regulator_fixed_0p925: s0925 {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <925000>;
		regulator-max-microvolt = <925000>;
		regulator-boot-on;
		regulator-always-on;
		regulator-name = "fixed_0p925";
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

/*
 * The bootstrap pins for the board select the XO clock frequency
 * (48 MHZ or 96 MHZ used for different RDP type board). This setting
 * automatically enables the right dividers, to ensure the reference
 * clock output from WiFi to the CMN PLL is 48 MHZ.
 */
&ref_48mhz_clk {
	clock-div = <1>;
	clock-mult = <1>;
};

/*
 * The frequency of xo_board_clk is fixed to 24 MHZ, which is routed
 * from WiFi output clock 48 MHZ divided by 2.
 */
&xo_board_clk {
	clock-div = <2>;
	clock-mult = <1>;
};

&xo_clk {
	clock-frequency = <48000000>;
};

&tlmm {
	gpio_keys_default: gpio-keys-default-state {
		pins = "gpio45";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	qpic_snand_default_state: qpic-snand-default-state {
		clock-pins {
			pins = "gpio5";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-disable;
		};

		cs-pins {
			pins = "gpio4";
			function = "qspi_cs";
			drive-strength = <8>;
			bias-disable;
		};

		data-pins {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "qspi_data";
			drive-strength = <8>;
			bias-disable;
		};
	};

	mdio_default_state: mdio-default-state {
		mdc-pins {
			pins = "gpio38";
			function = "mdc";
			drive-strength = <8>;
			bias-disable;
		};

		mdio-pins {
			pins = "gpio39";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	pcie1_default: pcie1-default-state {
		clkreq-n-pins {
			pins = "gpio25";
			function = "pcie1_clk";
			drive-strength = <6>;
			bias-pull-up;
		};

		perst-n-pins {
			pins = "gpio26";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};

		wake-n-pins {
			pins = "gpio27";
			function = "pcie1_wake";
			drive-strength = <6>;
			bias-pull-up;
		};
	};

	pcie2_default: pcie2-default-state {
		clkreq-n-pins {
			pins = "gpio28";
			function = "pcie2_clk";
			drive-strength = <6>;
			bias-pull-up;
		};

		perst-n-pins {
			pins = "gpio29";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};

		wake-n-pins {
			pins = "gpio30";
			function = "pcie2_wake";
			drive-strength = <6>;
			bias-pull-up;
		};
	};

	pcie3_default: pcie3-default-state {
		clkreq-n-pins {
			pins = "gpio31";
			function = "pcie3_clk";
			drive-strength = <6>;
			bias-pull-up;
		};

		perst-n-pins {
			pins = "gpio32";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};

		wake-n-pins {
			pins = "gpio33";
			function = "pcie3_wake";
			drive-strength = <6>;
			bias-pull-up;
		};
	};

	usb-power {
		gpio-hog;
		output-high;
		gpios = <52 GPIO_ACTIVE_HIGH>;
		line-name = "usb-power";
	};
};

&blsp1_uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	pinctrl-0 = <&qpic_snand_default_state>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		nand-ecc-engine = <&qpic_nand>;
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;

		partitions {
			compatible = "qcom,smem-part";

			nvmem-layout {
				compatible = "fixed-layout";
				#address-cells = <1>;
				#size-cells = <1>;
				label = "0:ethphyfw";

				aqr_fw: firmware@0 {
					reg = <0x28 0x60002>;
				};
			};
		};
	};
};

&rpm_requests {
	regulators {
		compatible = "qcom,rpm-mp5496-regulators";

		ipq9574_s1: s1 {
		/*
		 * During kernel bootup, the SoC runs at 800MHz with 875mV set by the bootloaders.
		 * During regulator registration, kernel not knowing the initial voltage,
		 * considers it as zero and brings up the regulators with minimum supported voltage.
		 * Update the regulator-min-microvolt with SVS voltage of 725mV so that
		 * the regulators are brought up with 725mV which is sufficient for all the
		 * corner parts to operate at 800MHz
		 */
			regulator-min-microvolt = <725000>;
			regulator-max-microvolt = <1075000>;
		};

		mp5496_l2: l2 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			regulator-boot-on;
		};
	};
};

&usb_0_dwc3 {
	dr_mode = "host";
};

&usb_0_qmpphy {
	vdda-pll-supply = <&mp5496_l2>;
	vdda-phy-supply = <&regulator_fixed_0p925>;

	status = "okay";
};

&usb_0_qusbphy {
	vdd-supply = <&regulator_fixed_0p925>;
	vdda-pll-supply = <&mp5496_l2>;
	vdda-phy-dpdm-supply = <&regulator_fixed_3p3>;

	status = "okay";
};

&usb3 {
	status = "okay";
};

&mdio {
	pinctrl-0 = <&mdio_default_state>;
	pinctrl-names = "default";
	reset-gpios = <&tlmm 60 GPIO_ACTIVE_LOW>;
	clock-frequency = <3125000>;
	status = "okay";

	aqr113c_0: ethernet-phy@0 {
		compatible ="ethernet-phy-ieee802.3-c45";
		reg = <0>;

		/*nvmem-cells = <&aqr_fw>;
		nvmem-cell-names = "firmware";*/
	};

	aqr113c_8: ethernet-phy@8 {
		compatible ="ethernet-phy-ieee802.3-c45";
		reg = <8>;

		/*nvmem-cells = <&aqr_fw>;
		nvmem-cell-names = "firmware";*/
	};
};

&pcie1_phy {
	status = "okay";
};

&pcie1 {
	pinctrl-0 = <&pcie1_default>;
	pinctrl-names = "default";

	perst-gpios = <&tlmm 26 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie2_phy {
	status = "okay";
};

&pcie2 {
	pinctrl-0 = <&pcie2_default>;
	pinctrl-names = "default";

	perst-gpios = <&tlmm 29 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie3_phy {
	status = "okay";
};

&pcie3 {
	pinctrl-0 = <&pcie3_default>;
	pinctrl-names = "default";

	perst-gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;
	status = "okay";
};
